*{
    font-family: dana;
    box-sizing: border-box;
}
body{
    text-align: center;
    width: auto;
    height: auto;
    font-family: dana;
    font-size: 20px;
    line-height: 28px;
    background: #111827;
}
section{
    width: 100% auto;
}
a{
    color: inherit;
    text-decoration: none;
    color: #fff;
}
header{
    border-radius: 10px;
    color: white;
    background: #242A38;
    width: 100% auto;
    height: 150px;
}
.logo{
    position: relative;
    bottom: -20px;
    box-shadow: 0px 0px 10px 1px rgb(80, 80, 80);
    width: 150px ;
    height: 58px ;
}
nav{
    position: relative;
    top: -50px;
    word-spacing: 20px;
}
main{
    width: 100% auto;
    height: 500px auto;
    background-color: #242A38;
    border-radius: 20px;
}
.title{
    position: relative;
    top: 10px;
    color: white;
}
.img{
    width: 200px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 0px 5px 5px rgb(0, 0, 0);
}
#nima{
    width: 250px auto;
    max-width: 250px;
}
.nimaname{
    width: 200px;
    height: 30px;
    background-color: #111827dc;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    position: relative;
    top: -62px;
    left: -25px;
}
#matin{
    width: 250px;
    max-width: 250px;
    position: relative;
    top: -169px;
    left: -130px;
}
.matinname{
    color: #fff;
    width: 200px;
    height: 30px;
    background-color: #111827dc;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    position: relative;
    top: -62px;
    left: -25px;
}
.footlogo{
    width: 150px;
    padding-top: 20px;
}
footer{
    background-color: #242A38;
    width: 100%;
    height: 150px;
    border-radius: 20px;
}
h5{
    color: #fff;
    text-shadow: black 10px 10px 10px;
    text-align: center;
}
span{
    background-color: red;
    border-radius: 1px;
}